NODE_ENV=development
PORT=3005
DATABASE_URL=postgresql://meshly:meshly_payment_password@localhost:5434/meshly_payments?schema=public
RABBITMQ_URL=amqp://meshly:meshly_rabbit_password@localhost:5672
RABBITMQ_EXCHANGE=meshly.events
PAYMENT_QUEUE=payment-service.order-placed
MOCK_PAYMENT_FAILURE_RATE=0
